.sidebar{
    background-color: rgb(224, 189, 189, 0.5);
    display: inline-block;
    position: fixed;
    width: 210px;
    margin-left: -230px;
    top: 72px;
    height: 100vh;
    transition: margin-left 0.4s;
}
.sidebar:hover {
    margin-left: -70px;
}
.sidebarButton, .sidebarButton2{
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
}
.info{
    height: 50px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 150px;
    justify-content: space-between;
}
.sidebarButton{
    background-color: rgb(248, 153, 153, 0.9);
}
.sidebarButton2 {
    background-color: rgb(241, 241, 241, 0.9);
}
.bagButtonImage{
    height: 36px;
    align-self: center;
}
.sidebarText{
    font-family: Oswald, Arial;
    font-size: 20px;
    padding-left: 15px;
}
